@model IEnumerable<LojaRio40.Models.Produto>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-controller="Produto" asp-action="Cadastrar">Cadastrar um Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodnome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proddescr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodnome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proddescr)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Prodid }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Prodid }, new { onclick = "return confirm('Deseja excluir');" })
                </td>
            </tr>
        }
    </tbody>
</table>

